@font-face {
	font-family: 'MontserratBold';
	src: url('../fonts/Montserrat-Bold.ttf') format('ttf');
	font-display: swap;
}
@font-face {
	font-family: 'MontserratLight';
	src: url('../fonts/Montserrat-Light.ttf') format('ttf');
	font-display: swap;
}
@font-face {
	font-family: 'MontserratRegular';
	src: url('../fonts/Montserrat-Regular.ttf') format('ttf');
	font-display: swap;
}
@font-face {
	font-family: 'OpensansRegular';
	src: url('../fonts/OpenSans-Regular.ttf') format('ttf');
	font-display: swap;
}
@font-face {
	font-family: 'OpensansSemibold';
	src: url('../fonts/OpenSans-SemiBold.ttf') format('ttf');
	font-display: swap;
}
@font-face {
	font-family: 'OpensansBold';
	src: url('../fonts/OpenSans-Bold.ttf') format('ttf');
	font-display: swap;
}